.checkAccountContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space;
  gap: 2rem;

  .title {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin: 2rem auto 1rem auto;
  }
  .checkAccountForm {
    width: 90%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    .formGroup {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      label {
        font-size: 1em;
        font-weight: 600;
        margin: 0 0 0.25rem 1rem;
      }
      .input {
        width: 100%;
        margin: 0 auto;
        padding: 15px 20px;
        font-size: 1em;
        background-color: #239dd6;
        border: none;
        border-radius: 2rem;
        color: #fff;
        transition: border-color 0.3s;
        &::placeholder {
          color: #fff;
        }
        &:focus {
          border-color: #239dd6;
          outline: none;
        }
      }
      .error {
        color: red;
        font-size: 0.8em;
        margin: 0.5rem 0 0 1rem;
      }
      .input-loading {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .button {
      border: none;
      background-color: transparent;
      font-size: 1em;
      margin: 4rem auto auto auto;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      color: #bebebe;
      font-size: 1em;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .buttonIcon {
        width: 150px;
        height: 150px;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }

    .input-loading {
      opacity: 0.7;
      cursor: not-allowed;
    }

    .button-loading {
      cursor: not-allowed;
    }
  }
  .formFooter {
    font-family: "Roboto", sans-serif;
    margin: auto auto 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}

@media screen and (min-width: 767px) {
  .checkAccountContainer {
    .title {
      font-size: 3em;
    }
    .checkAccountForm {
      max-width: 800px;
      gap: 30px;
      .button {
        .buttonIcon {
          width: 280px;
          height: 280px;
        }
      }
    }
    .formFooter {
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

@media screen and (min-width: 1023px) {
  .form-container {
    .title {
      font-size: 3em;
    }
    .form {
      max-width: 800px;
      gap: 30px;
      .button {
        .form-link {
          width: 250px;
          font-size: 1.5em;
          margin: 0 auto;
          .buttonIcon {
            width: 320px;
            height: 320px;
          }
        }
      }
    }
    .form-footer {
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
