.loadingMask {
  height: "100%";
  width: "100%";
  justify-content: "center";
  align-items: "center";
  background-color: rgba(0, 0, 0, 0.5);
  position: "absolute";
  top: 70;
}
.aiLoading {
  width: 160;
  height: 160;
  margin-bottom: 75;
}
